* {
  box-sizing: border-box;
  outline: 1px solid red;
}
body {
  margin: 0px;
  padding: 0px;
}
header {
  padding: 5px;
  background-color: #202040;
}
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}
.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}
.taskbtn {
  width: 10%;
  padding: 5px;
}
#content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0px;
}
#leftSide {
  padding: 15px;
}
ul {
  padding: 5px;
}
li {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  list-style-type: none;
  padding: 5px;
}
#inbox {
  padding: 5px;
  margin: 5px;
}
#today {
  padding: 5px;
  margin: 5px;
}
#nextWeek {
  padding: 5px;
  margin: 5px;
}
#project {
  padding: 5px;
}
#form-container {
  display: none;
  position: absolute;
  top: 50px;
  right: 150px;
  width: 500px;
  z-index: 1;
  padding: 5px;
}
.editform-container {
  display: none;
  position: absolute;
  top: 50px;
  right: 150px;
  width: 500px;
  z-index: 1;
  padding: 5px;
}
#form {
  display: block;
  justify-content: center;
  background-color: white;
  color: #202040;
  padding: 5px;
}

label {
  padding: 5px;
}
#titlename {
  margin: 5px;
}
input[type="text"],
select {
  width: 30%;
  padding: 8px 16px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  background-color: white;
  color: #202040;
  border-radius: 4px;
  box-sizing: border-box;
}
#description {
  background-color: white;
  color: black;
}
input[type="date"],
select {
  width: 50%;
  padding: 8px 16px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  background-color: white;
  color: #202040;
  border-radius: 4px;
  box-sizing: border-box;
}
#form-submit {
  display: flex;
  justify-content: center;
  align-items: center;
}
input[id="submitbtn"] {
  width: 20%;
  background-color: #202040;
  color: white;
  padding: 4px 8px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Courier New", Courier, monospace;
  font-size: medium;
}
input[class="updatebtn"] {
  width: 20%;
  background-color: #202040;
  color: white;
  padding: 4px 8px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Courier New", Courier, monospace;
  font-size: medium;
}
#rightSide {
  padding: 5px;
}
#inboxDiv {
  display: none;
  padding: 10px;
  cursor: pointer;
}
.inbox{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 5px;
}
.inbox-Card {
  padding: 5px;
  margin: 5px;
}
.inbox-Collapse {
  padding: 5px;
  margin: 5px;
}
.inbox-Exposed {
  padding: 5px;
  margin: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
p{
  display: block;
  align-items: center;
  padding: 10px;
}
#todayDiv {
  display: none;
  padding: 10px;
  cursor: pointer;
}
#nextWeekDiv {
  display: none;
  padding: 10px;
  cursor: pointer;
}
#projectHolder {
  display: block;
  cursor: pointer;
  margin: 5px;
}
#projectList {
  margin: 5px;
  padding: 10px;
  align-items: center;
}
#addprojectbtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 5px;
}
#projectbtn {
  margin:  0 0 0 58.5%;
  width: 40%;
}
#projectfolder {
  display: block;
  position: absolute;
  top: 50px;
  right: 150px;
  width: 500px;
  z-index: 1;
  justify-content: center;
  background-color: white;
  color: #202040;
  padding: 5px;
}
.projectTitle {
  display: flex;
  justify-content: center;
  align-items: center;
}
.projectlabel {
  padding: 10px;
  height: 100px;
}
#projectlabel {
  margin: 5px;
}
#projectId {
  margin-top: 20px;
}
.projectbtnholder {
  display: flex;
  justify-content: end;
  padding: 15px;
  gap: 5px;
}
.addproject {
  width: 20%;
  padding: 4px 8px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Courier New", Courier, monospace;
  font-size: medium;
}
.closeproject {
  width: 20%;
  padding: 4px 8px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Courier New", Courier, monospace;
  font-size: medium;
}
.inboxExposedbtnContainer{
  padding: 5px;
}
.moveform{
  display: none;
  position: absolute;
  right: 175px;
  top:100px;
  bottom: 500px;
  width: 200px;
  height: 100px;
  z-index: 1;
  padding: 5px;
  background-color: white;
  color: #202040;
}
.projectLabel{
  margin:5px;
}
.moveOption{
  display: block;
}
.moveLabel{
  margin-right: 15px;
}
.createdProject{
  margin:5px;
}
.moveSubmitbtnDiv{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 10px;
  padding: 5px;
}